
<div id="log">
<h2> Login Form</h2>
<hr>
<br>
  <form  class="login-form">

    <div class="container">
      <label  id="username" for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
      <label id="password" for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    <br><br>
      <button class="submitlogin">Login</button>

    </div>
  </form>
</div>