<div class="container">
    <div class="page-header">
        <h2>Fun Recipes</h2>
    </div>
    <div class="row">
        {{#each foods}}

            <div class="col-md-4">
                <h3>{{name}}</h3>

            </div>



        {{/each}}
    </div>
</div>