
<div id="log">
    <h2>Register</h2>
<hr>
  <form class="login-form">
    <div class="container">
      
      <p>Please fill in this form to create an account.</p>
      <br><br>
       <div class="container">
      <label  id="username" for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
      <label id="password" for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <br>
      <p>By creating an account you agree to our Terms & Privacy <a href="#"</a>.</p>
    <br>
    <button class="submitsignup">Sign Up</button>
    </div>
  </form>
</div>

</div>
