<div class="container">
  <p>Please fill in this form to create an account.</p>
						<div class="main">
						<form class="form" method="post" action="#">
						<h2>Sign up</h2>
						<label>Username:</label>
						<input type="text" name="dname" id="name">
						<label>Email:</label>
						<input type="text" name="demail" id="email">
						<label>Password:</label>
						<input type="password" name="password" id="password">
						<input type="button" name="register" id="register" value="Submit">
            <br>
            <p>By creating an account you agree to our Terms & Privacy.</p>
            <br>
						</form>
						</div>
            </div>

